html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/bkd.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#arena {
  margin-top: 20px;
  text-align: center;
  margin: auto;
  background-color: lightgray;
  position:relative;
  width: 75%;
  height: 400px;
}

#content {
  //margin-top: 100px;
  // margin: 0 23% 0 23%;
  text-align: center;
}

#responses {
  text-align: center;
}

form {
  display:inline;
  margin:0px;
  padding:0px;
}

.cardBox {
  position:relative;
  text-align: center;
  margin: 8px 5px 36px 5px;
  width: 250px;
  height: 240px;
  padding: 0 5px 5px 5px;
  border: 1px solid black;
  display:inline-block;
  
  background: #86A5BC;
}

.cardBox:hover {
  background: #7EAEC9;
  transform: scale(1.05);
  z-index: 1;
  
  box-shadow: 0 0 48px #B9E2FC;
}

.cardBox:active {
  left:1px;
  top:2px;
}

.battleSlot {
  display:inline-block;
  vertical-align: top;
}

h1 {
  font-size: 24px;
  padding-bottom: 20px 0 2px 0;
  margin: 16px 0 0 0; /* top right bottom left */
}

h2 {
  margin: 0 0 16px 0;
  
  padding-top: 2px;
  font-size: 16px;
  
}

h3 {
  font-size: 28px;
  padding: 18px 8px 2px 8px;
}

ul {
  text-align:left;
  font-size: 18px;
  list-style-position: inside;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.centered {
  text-align:center;
}
 
.active {
  // background-color:firebrick;
  background: rgba(191, 61, 92, 1);
}

.active:hover {
  background: #D62A50;
  box-shadow: 0 0 48px #F0647F;
}

#nameForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

input {
  margin:auto;
  width:auto;
  padding: 0;
  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

#log {
  position:absolute;
  float:right;
  right:30px;
  top:50px;
  height:90%;
  width:28%;
  border:1px solid #000;
  overflow:auto;
  padding-left: 20px;
  
  // background: rgba(171, 127, 143, .85);
  background: #BF98A1D9;
}

#main {
  position:absolute;
  float:left;
  left: 30px;
  top:50px;
  height:90%;
  width: 60%;
  overflow:auto;
  border: 1px solid #000;
  
  background: rgba(240, 240, 240, .85);
}

#logContent {
  position:relative;
  bottom:0;
}

#fightingButtons {
  text-align: center;
  margin: 0 0 38px 0;
}

/* button code from https://www.bestcssbuttongenerator.com/ */

.button {
  background-color:#bf3d5b;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  // border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:11px;
  font-weight:bold;
  padding:7px 30px;
  text-decoration:none;
}

.button:hover {
  background:#D62A50;
  box-shadow: 0 0 8px #F0B4BD;
  transform: scale(1.05);
}

.button:active {
  position:relative;
  top:1px;
}

